<a href="https://colab.research.google.com/github/chieinviolet/201911Python_python_basic-AB/blob/master/PythonTutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pythonチュートリアル**

---

## **インストラクション**

*   解答用紙をダウンロードし、決められた提出方法で提出して下さい。
*   全ての演習は、難易度の高い順に、最も簡単なものから最も難しいものへと慎重に配置されています。
*   解答は不完全な形でも、何度でも提出可能です。(エクササイズ毎に提出することをお勧めしています。)
*   運営はクエストに関する一切の質問にお答えできません。質問がある際にはDiscord内で他の学習者に尋ねましょう！
* Discordでのコミュニケーションのみでクエストの解決が困難な場合は、ピアレビューをご活用ください。

# New Section

---

## **エクササイズ 01: 文字列を出力せよ**

1. 「Hello World!」という文字列を出力せよ。

In [1]:
print ("hello world"
)

hello world

## **エクササイズ 02: 数値を出力せよ**

1. 数値の9を出力せよ。

In [2]:
print (9)

9

2. 7に4足した値を出力せよ。

In [5]:
print(7+4)

11

3. 「7+ 4」を文字列として出力せよ。

In [6]:
print ("7+4")

7+4

## **エクササイズ 03: 計算結果を出力せよ**

1. 9を2で割った値を出力せよ。

In [7]:
print(9/2 )

4.5

2. 7に5を掛けた値を出力せよ。

In [8]:
print(7*5)

35

3.  5を2で割った時の余りを出力せよ。

In [13]:
print (5%2)

1

## **エクササイズ 04: 変数を用いて出力せよ**

1. 変数nameに文字列「くまちゃん」を代入して、変数nameの値を出力せ
よ。

In [16]:
name= "くまちゃん"
print (name)

くまちゃん

2.  ageを用いて「明日が26歳の誕生日です」と出力せよ。



```
age = 26
```

In [18]:
age = 26
print("明日が", age , "歳の誕生日です")

明日が 26 歳の誕生日です

## **エクササイズ 05: if文をマスターせよ**

x = 0でない場合に「xは100ではありません」と出力せよ。


```
x = 5 * 6
```

In [20]:
x = 5*6 
if x != 100: 
  print ("xは100ではありません")

xは100ではありません

2. expenseの値がgoogle_priceの値以上の時、「グーグルを買うことが
できます」と出力せよ。


```
expense = 500
google_price = 200
```

In [21]:
expence = 500
google_price= 200
if expence > google_price:
  print("グーグルで買うことができます")

グーグルで買うことができます

3. if文の条件に当てはまらない場合に「お金が足りません」と出力せよ。

In [29]:
expence = 200
google_price= 500
if expence > google_price:
  print("グーグルで買うことができます")
elif expence < google_price:
  print("お金が足りません")

お金が足りません

## **エクササイズ 06: inputを使いこなせ**

1.  inputを用いて入力を受け取り、変数input_countに代入せよ。

In [33]:
input_count = input("何か入れてね")

何か入れてね100

2.  input_countを数値として下記に代入し出力せよ。


```
cup_price = 500
count =
total_price = cup_price * count
print('購入するカップの個数は' + str(count) + '個です')
print('支払い金額は' + str(total_price) + '円です')
```

In [48]:
input_count = input("何個買う？")
cup_price = 500
count = str(input_count)
total_price = int(cup_price) * int(count)
print('購入するカップの個数は'+ str(count) + "個です")
print("支払額は" + str(total_price) + "円です")

何個買う？70
購入するカップの個数は70個です
支払額は35000円です

## **エクササイズ 07: for文で出力せよ**

1. for文を用いてリストの要素を1つずつ取り出し、「得意なスポーツは
◯◯です」と出力せよ。


```
sports = ['サッカー', 'バスケ', 'テニス']
```

In [56]:
sports = ['サッカー','バスケ','テニス']
for sport in sports:
  print (sport)
  #print('好きなスポーツは' , x 'です')

サッカー
バスケ
テニス

2. for文を用いて、辞書のキーを1つずつ取り出し、繰り返しの中で「◯◯
は△△という意味です」と出力せよ。


```
fruits = {'apple': 'りんご', 'banana': 'バナナ', 'grape': 'ぶどう'}
```

In [64]:
fruits = {'apple': 'りんご', 'banana': 'バナナ', 'grape': 'ぶどう'}
for key, value in fruits.items():
  #print(key, value )
  print (f"{key} は{value}という意味です")

apple はりんごという意味です
banana はバナナという意味です
grape はぶどうという意味です

## **エクササイズ 08: 関数と引数を理解せよ**

1. 「starbucksはシアトル発のコーヒーチェーンです」という文章を表示する関数 coffeeを定義し、呼び出せ。

In [69]:
def coffee():
  print('starbucksはシアトル発のコーヒーチェーンです')

coffee()

starbucksはシアトル発のコーヒーチェーンです

2. コーヒー１杯の値段を"price"、コーヒーの注文数を"number"という引数で受け取り、合計金額を表示する関数total_price関数を作成せよ。

In [75]:
price = int (input('コーヒーの値段はいくら？'))
number = int (input('注文はいくつ？'))


def total_price(price, number):
  total_price = price * number
  print(total_price)

total_price(price, number)

コーヒーの値段はいくら？80
注文はいくつ？50
4000

3. total_price関数に price = 450, number = 3 として代入した計算結果を表示せよ。

In [76]:
def total_price(price, number):
  total_price = price * number
  print(total_price)

total_price(450, 3)

1350

# 新しいセクション